TAILSCALE_API_KEY=""
TAILSCALE_TAG="" # scan devices associated with this tag
CHECK_FREQUENCY=30 # how many seconds to wait between scans?
REPORT_IF_MISSING_AFTER=3 # amount of scans, not seconds
NTFY_CHANNEL=""
NTFY_SERVER="ntfy.sh"
NTFY_AUTH_KEY=""
NTFY_INSECURE="false" # set to "true" if your server uses a self-signed certificate